<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Detalles</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
	<link rel="stylesheet" type="text/css" href="./views/css/styles.css">
</head>
<body>
	<!--{{PROJECT_NAME}}
		{{PROJECT_DESCRIPTION}}
		Autor: {{PROJECT_AUTHOR}}
		Gmail: {{PROJECT_AUTHOR_CONTACT}}
		Url: {{PROJECT_WEB}}
		Cantidad de estaciones guardadas: {{CANT_LUGARES}}
	-->
	<div class="title-top">
		<h1>DETALLE ESTACION</h1>		
	</div>
	

	<div id="Listado-estaciones">

	</div>

	<script type="text/javascript">

		// Evento que se ejecuta cuando se carga la pagina totalmente
		document.addEventListener("DOMContentLoaded", () => {

			// Ejemplo de uso
			const parametro = getParameterByName('chipid');
			buscar(parametro).then(data => {

				console.log(data)

				let listado = document.querySelector("#Listado-estaciones")
					data.forEach(estaciones => {
						listado.innerHTML +=`
						<div class="tarjeta-detalle">
							<div class="texto">
								<div class="apodo">
									${estaciones.estacion}
								</div>
								<div class="ubicacion">
									<i class="fa-solid fa-location-dot"></i>${estaciones.ubicacion}
								</div>
							</div>
						</div>	
						`
					})	
			})
		})

		function getParameterByName(name) {
	    	const urlParams = new URLSearchParams(window.location.search);
	    	return urlParams.get(name);
		}
		
		// Hace la peticion asincrona al archivo php y recupera el Json con los datos
	    async function buscar(parametro){
	        /*< consulta a la API */
	        const response = await fetch("https://mattprofe.com.ar/proyectos/app-estacion/datos.php?chipid="+parametro+ "&&cant=1");
	        /*< convierte la respuesta a formato json */
	        const data = await response.json();
	        return data;
	    }

	</script>
</body>
</html>