<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Landing</title>
</head>
<body>
	<!-- {{PROJECT_WEB}} -->
	<div class="contenedor-landing">
		<header class="Presentacion">
			<div class="titulo">
				{{PROJECT_NAME}}
			</div>
			<div class="descripcion">
				{{PROJECT_DESCRIPTION}}
			</div>
		</header>
		<section class="boton">
				<button><a href="panel">Ir al panel</a></button>
		</section>
		<footer class="informacion-autor">
			<div class="autor">
				{{PROJECT_AUTHOR}}
			</div>
			<div class="correo">
				{{PROJECT_AUTHOR_CONTACT}}
			</div>
		</footer>
	</div>
	<br><br>
	<br><br>
</body>
</html>