<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Panel</title>
	<link rel="stylesheet" type="text/css" href="./views/css/styles.css">
</head>
<body>

<!--{{PROJECT_NAME}}
	{{PROJECT_DESCRIPTION}}
	Autor: {{PROJECT_AUTHOR}}
	Gmail: {{PROJECT_AUTHOR_CONTACT}}
	Url: {{PROJECT_WEB}}
	Cantidad de estaciones guardadas: {{CANT_LUGARES}}
-->
	<div class="title-top">
		<h1>ESTACIONES</h1>
	</div>

	<div id="Listado-estaciones">

	</div>

	<script type="text/javascript">

			document.addEventListener("DOMContentLoaded", () => {

				loadEstaciones().then(data => {

					let listado = document.querySelector("#Listado-estaciones")
			

					for (var i = data.length - 1; i >= 0; i--) {
						console.log("Hola");
						listado.innerHTML += `
						<div class="ubi">
							<a class="texto" href="/alumno/6916/app-estacion/detalle?chipid=${data[i].chipid}&&cant=1">${data[i].ubicacion}
							</a>
						</div><br>`
					
					}

				})
			})


		async function loadEstaciones(){
			const response = await fetch("https://mattprofe.com.ar/proyectos/app-estacion/datos.php?mode=list-stations")
			const data = await response.json()			
			return data
		}

	</script>
</body>
</html>
